body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.navbar-brand {
    font-family: 'Cormorant Unicase', serif;
    color: gold!important;
    text-shadow: 1px 1px 2px black;
    font-size: 1.8rem;
}

#mainContainer {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: center bottom;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


#smeagol-pic {
    width: 100px;  
    transform: scale(-1,1);
}

#game-section {
    border-radius: 1rem;
    /* background-color: rgba(255,255,255,0.1); */
}


#frodo-pic {
    height: 90px;
}

#hp-button {
    background: #ee6e73;
    color: white;
    margin-top: 1%;
    padding: 5%;
}

.row {
    height: 300px;
}

.hitFrodo {
    content:url('../images/hitFrodo.png');
}

.deadFrodo {
    content:url('../images/deadFrodo.png');
}

#wrongLetters {
    color: #ee6e73;
}

#blanks {
    letter-spacing: 0.1rem;
}




@media only screen and (max-width: 920px) {
    h2 {
        font-size: 1.4rem;
    }

    p, button {
        font-size: 0.9rem;
        line-height: 1.4;
    }
}  

@media only screen and (max-width: 570px) {
    h2 {
        font-size: 1.3rem;
    }

    p, button {
        font-size: 0.8rem;
        line-height: 1.2;
    }
    
    .deadFrodo {
        height: 5rem;
        width: 5rem;
    }
}  
