

#smeagol-pic {
    width: 100px;  
    transform: scale(-1,1);
}

/* #game-section {
} */

#frodo-pic {
    height: 90px;
}

#hp-button {
    background: #ee6e73;
    color: white;
    margin-top: 1%;
    padding: 5%;
}

.row {
    height: 300px;
}

.frodoPic {
    content:url('/assets/images/Frodo.png');
}

.hitFrodo {
    content:url('/assets/images/hitFrodo.png');
}

.angryFrodo {
    content:url('/assets/images/angryFrodo.png');
}

.deadFrodo {
    content:url('/assets/images/deadFrodo.png');
}

#wrongLetters {
    color: #ee6e73;
}

#blanks {
    letter-spacing: 0.1rem;
}


@media only screen and (max-width: 920px) {
    h2 {
        font-size: 1.4rem;
    }

    p, button {
        font-size: 0.9rem;
        line-height: 1.4;
    }
}  

@media only screen and (max-width: 570px) {
    h2 {
        font-size: 1.3rem;
    }

    p, button {
        font-size: 0.8rem;
        line-height: 1.2;
    }
    
    .deadFrodo {
        height: 5rem;
        width: 5rem;
    }
}  